body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.navbar {
    display: inline-block;
    margin-left: 450px;
}
.navbar ul{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    padding: 10px 10px;
}

.navbar li a{
    padding: 10px 9px;
    font-size: 14px;
    color: rgb(39, 26, 26);   
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.navbar li a:hover{
    color: rgb(0, 160, 253);
    cursor: pointer;
}
.lft{
    display: inline-block;
    position:absolute;
    top: 11px;
    margin-left: 145px;
}
.lft p{
    color: rgb(39, 174, 252);
    text-decoration: underline;
    font-size: 16px;
    font-style:inherit;
    font-weight: 500;
    cursor: pointer;
}
.rgt{
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 60px;
}
.rgt img{
    width: 100px;
    height: 50px;
}
.btn{
    position: absolute;
    margin-left: 600px;
    top: 355px;
    cursor: pointer;
}
.btn button{
    border-radius: 20px;
    background-color:rgb(39, 174, 252);
    height: 36px;
    width: 170px;
    color: white;
    font-style:inherit;
    border:2px solid rgb(39, 174, 252);
    font-weight: 500;
    cursor: pointer;
}
.btn button:hover{
    background-color: navy;
    border-color: navy;
    cursor: pointer;
}
.hd{
    position: absolute;
    top: 155px;
    margin-left: 600px;
    width: 290px;
}
.hd h1{
    font-size: 40px;
}
.pg{
    position:absolute;
    top: 290px;
    left: 600px;
}
.pg p{
    font-size: 13px;
    width: 475px;
    font-weight:530;
}
.im{
    position: absolute;
    top: 150px;
    margin-left: 100px;
}
.im img{
    width: 300px;
    height: 350px;
    border-radius: 20px;
}